<%= form_with(model: inventory, local: true) do |form| %>
    <%#= form.label :qty %>
    <%#= form.number_field :qty, id: :inventory_qty %>
    <%#= form.label :clinic_id %>
    <%#= form.text_field :clinic_id, id: :inventory_clinic_id %>
    <%#= form.label :supply_list_id %>
    <%#= form.text_field :supply_list_id, id: :inventory_supply_list_id %>
    <%#= form.submit %>

      <div class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                          <div class="card-header" data-background-color="purple">
                              <h4 class="title">Add Item to Inventory!</h4>
                              <p class="category"> Fill the form below!</p>
                          </div>
                          <div class="card-content">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#=:supply_list_id %></label>
                                      <%= form.select :supply_list_id, options_from_collection_for_select(SupplyList.all, 'id', 'item_name'), {}, {class: "form-control"} %>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#= form.label :surgery_type_id %></label>
                                      <%= form.label :qty %>
                                      <%= form.number_field :qty, id: :inventory_qty %>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#= form.label :surgery_type_id %></label>
                                      <%= form.select :clinic_id, options_from_collection_for_select(Clinic.all, 'id', 'clinic_name'), {}, {class: "form-control"} %>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right btn-block" >Add Item to Inventory!</button>
                                <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<% end %>
