<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">Inventory</h4>
              <p class="category">Statistics on stock and demand</p>
          </div>
          <div class="card-content table-responsive">

            <table class="table table-hover">

              <thead class="text-primary">
                <tr>
                  <th>Qty in Stock</th>
                  <th>Clinic</th>
                  <th>Supply list</th>
                  <th>Out of Stock</th>
                  <th>Projected Demand</th>
                  <th>Demand for Next Week</th>
                  <th>Demand for Next Month</th>
                  <th>Demand for Next Year</th>
                  <th>Actual Consumed</th>
                </tr>
              </thead>


              <tbody>
                <% @inventories.includes(:supply_list, clinic: {surgery_appts: :surgery_type}).each do |inventory| %>
                  <tr>
                    <td><%= inventory.qty %></td>
                    <td><%= inventory.clinic.clinic_name %></td>
                    <td><%= inventory.supply_list.item_name %></td>
                    <td><%= inventory.out_of_stock %></td>
                    <td><%= inventory.demand %></td>
                    <td><%= inventory.expiration(1, "week") %></td>
                    <td><%= inventory.expiration(3, "week") %></td>
                    <td><%= inventory.expiration(1, "year") %></td>
                    <td><%= inventory.actual_consumed %></td>
                  </tr>
                <% end %>
              </tbody>

            </table>

          </div>
        </div>
      </div>
      <!-- <div class="col-md-2"> -->
          <!-- <div class="card card-profile">
              <div class="card-avatar">
                  <a href="#pablo">
                      <img class="img" src="../assets/img/faces/marc.jpg" />
                  </a>
              </div>
              <div class="content">
                  <h6 class="category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-content">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
              </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
