<%= form_with(model: @surgery_appt, local: true) do |form| %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">Complete Surgery</h4>
              <p class="category">Update Surgery Values</p>
          </div>

            <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <tr>
                    <th>Item Name</th>
                    <th>Qty Used</th>
                    <th>Submit</th>
                  </tr>
                </thead>
                <tbody>
                  <div class="col-md-12">
                    <div class="form-group label-floating is-empty">
                    <p>Check the box to complete the Appointment</p>  <%= form.check_box :complete %>
                        <% @surgery_appt.surgery_type.surgery_recipe_reqs.each do |req| %>
                          <%= form_with(model: @surgery_appt, local: true) do |form| %>
                            <%= form.fields_for req do |fa| %>
                            <tr>
                              <td><%= fa.label req.supply_list.item_name %></td>
                              <td><%= fa.number_field req.supply_list.id, value: req.qty %></td>
                            </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                        <td><%= submit_tag "Update", class: 'btn btn-primary' %></td>

                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>














<%#= form.label "Click here to mark surgery completed" %>
<%#= form.check_box :complete, value: @surgery_appt.complete, :checked => 'unchecked'%>
<!-- <span class="material-input"></span> -->





<!-- <label class="control-label"><%#= form.label :surgery_type_id %></label> -->



<div class="form-group label-floating is-empty">
<div class="form-group label-floating is-empty">
