<table class="table">
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Surgery type</th>
      <th>Surgery date</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @surgery_appts.each do |surgery_appt| %>
      <tr>
        <% unless surgery_appt.complete %>
        <td><%= surgery_appt.clinic.clinic_name %></td>
        <td><%= link_to surgery_appt.surgery_type.surgery_name, surgery_appt %></td>
        <td><%= surgery_appt.surgery_date %></td>
          <td><%= link_to 'Complete', completed_path(surgery_appt.id) %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgery Appt', new_surgery_appt_path %>
