<h1>Surgery Confirmation</h1>
<%= form_with(model: @surgery_appt, local: true) do |form| %>

  <p>
    <strong>Clinic:</strong>
    <%= @surgery_appt.clinic.clinic_name %>
    </p>
  <p>
    <strong>Appointment Date:</strong>
    <%= @surgery_appt.surgery_date %>
    </p>
  <p>
    <strong>Appointment Type:</strong>
    <%= @surgery_appt.surgery_type.surgery_name %>
  </p>

  <p>
    <strong>Appointment Current Status:</strong>
    <%= @surgery_appt.status %>
    </p>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, value:  @surgery_appt.status%>
    </div>

    <h2>Recipe Values</h2>
    <ul>
       <% @surgery_appt.surgery_type.surgery_recipe_reqs.each do |req| %>
         <%= form.fields_for req do |fa| %>
           <li class="field">
             <%= fa.label req.supply_list.item_name %>
             <%= fa.text_field req.supply_list.id, value: req.qty %>
           </li>
         <% end %>
       <% end %>
    </ul>

  <div class="actions">
    <%= submit_tag "Update" %>
    </div>

<% end %>
