
  <!-- <div class="form-group"> -->
    <%#= form.label :surgery_date %>
    <!-- date_select(method, options = {}, html_options = {}) -->
    <%#= form.date_select(:surgery_date, {}, {class: 'form-control'}) %>
  <!-- </div> -->

  <!-- <div class="form-group"> -->
    <%#= form.submit "Save", class: 'btn btn-success' %>
  <!-- </div> -->
  <%= form_with(model: surgery_appt, local: true) do |form| %>

  <!-- <div class="main-panel">
      <div class="container-fluid">
      </div> -->
      <div class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8">
                      <div class="card">
                          <div class="card-header" data-background-color="purple">
                              <h4 class="title">New Surgery Appointment</h4>
                              <p class="category"> Please create a new appointment </p>
                          </div>
                          <div class="card-content">
                              <!-- <form> -->
                                <!-- this is the SurgeryAppt type field -->
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#= form.label :surgery_type_id %></label>
                                      <%= form.select :clinic_id, options_from_collection_for_select(Clinic.all, 'id', 'clinic_name'), {}, {class: "form-control hidden"} %>
                                      <%= hidden_field_tag :name_something, 4%>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#= form.label :surgery_type_id %></label>
                                      <%= form.select :surgery_type_id, options_from_collection_for_select(SurgeryType.all, 'id', 'surgery_name'), {}, {class: "form-control"} %>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <div class="form-group label-floating is-empty">
                                      <label class="control-label"><%#= form.label :surgery_type_id %></label>
                                      <%= form.date_select(:surgery_date, {}, {class: "form-control"}) %>
                                      <span class="material-input"></span>
                                    </div>
                                  </div>
                                  <!-- <div class="col-md-4">
                                      <div class="form-group label-floating">
                                          <label class="control-label">Day</label>
                                          <input type="text" class="form-control">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group label-floating">
                                          <label class="control-label">Year</label>
                                          <input type="text" class="form-control">
                                      </div>
                                  </div> -->
                                </div>
                                <!-- <div class="row">
                                      <div class="col-md-12">
                                      </div>
                                  </div> -->
                                <button type="submit" class="btn btn-primary pull-right btn-block" >New Appointment!</button>
                                <div class="clearfix"></div>
                              <!-- </form> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!-- </div> -->
  <% end %>
