<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">All Appointments</h4>
              <!-- <p class="category">Here is a subtitle for this table</p> -->
              <br>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>Surgery Date</th>
                <th>Surgery name</th>
                <th>Cancel Appointment</th>
                <th>Complete Surgery <th>


              </thead>
              <%= will_paginate @surgery_appt %>
              <tbody>
                <% @surgery_appt.each do |surgery_appt| %>
                  <tr>
                    <td><%= link_to surgery_appt.surgery_date, surgery_appt  %></td>
                    <td><%= link_to surgery_appt.surgery_type.surgery_name, edit_surgery_appt_path(surgery_appt)  %></td>
                    <td><%= link_to 'Cancel Appointment', surgery_appt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% unless surgery_appt.complete %>
                      <td><%= link_to 'Complete Appointment', completed_path(surgery_appt.id) %></td>
                      <% else %>
                      <td><i class="material-icons">done</i></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
