<p id="notice"><%= notice %></p>

<p>
  <strong>Surgery date:</strong>
  <%= @surgery_appt.surgery_date %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @surgery_appt.clinic %>
</p>

<p>
  <strong>Surgery type:</strong>
  <%= @surgery_appt.surgery_type %>
</p>

<p>
  <strong>Surgery Status:</strong>
  <%= @surgery_appt.complete %>
</p>


<%= link_to 'Edit', edit_surgery_appt_path(@surgery_appt) %> |
<%= link_to 'Back', surgery_appts_path %>
