<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Login!</h4>
                    </div>
                    <div class="card-content">
                    <%= form_for(:session, url: login_path) do |f| %>

                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>

                      <%= f.label :password %>
                      <%= f.password_field :password, class: 'form-control' %>

                      <%= f.submit "Log in", class: "btn btn-primary" %>
                    <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-2"> -->
    <!-- <div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
        </div>
        <div class="content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-content">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
        </div>
    </div> -->
