
<div class="content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header" data-background-color="purple">
              <h4 class="title">Sign Up!</h4>
            </div>
              <div class="card-content">
                <%= form_with(model: user, local: true) do |form| %>
                <%= form.label :name %>
                <%= form.text_field :name, id: :user_name %>
                <%= form.label :email %>
                <%= form.text_field :email, id: :user_email %>
                <%= form.label :password %>
                <%= form.password_field :password, id: :user_password %>
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
                <%= form.submit %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>









<% end %>
