<p id="notice"><%= notice %></p>

<h1>Actual Recipe Reqs</h1>

<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Surgery appt</th>
      <th>Supply list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actual_recipe_reqs.each do |actual_recipe_req| %>
      <tr>
        <td><%= actual_recipe_req.qty %></td>
        <td><%= actual_recipe_req.surgery_appt.surgery_date %></td>
        <td><%= actual_recipe_req.supply_list.item_name %></td>
        <td><%= link_to 'Show', actual_recipe_req %></td>
        <td><%= link_to 'Edit', edit_actual_recipe_req_path(actual_recipe_req) %></td>
        <td><%= link_to 'Destroy', actual_recipe_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actual Recipe Req', new_actual_recipe_req_path %>
