<p id="notice"><%= notice %></p>

<h1>Supply Lists</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supply_lists.each do |supply_list| %>
      <tr>
        <td><%= supply_list.item_name %></td>
        <td><%= link_to 'Show', supply_list %></td>
        <td><%= link_to 'Edit', edit_supply_list_path(supply_list) %></td>
        <td><%= link_to 'Destroy', supply_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supply List', new_supply_list_path %>
