<p id="notice"><%= notice %></p>

<h1>Surgery Types</h1>

<table>
  <thead>
    <tr>
      <th>Surgery name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surgery_types.each do |surgery_type| %>
      <tr>
        <td><%= surgery_type.surgery_name %></td>
        <td><%= link_to 'Show', surgery_type %></td>
        <td><%= link_to 'Edit', edit_surgery_type_path(surgery_type) %></td>
        <td><%= link_to 'Destroy', surgery_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgery Type', new_surgery_type_path %>
