<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

    </script>
  </head>

  <body>

    <div class="wrapper">
      <% if current_user %>
        <%= render partial: 'layouts/side_bar' %>
      <% end %>



      <div class="main-panel" style="width: <%= '100vw' unless current_user  %>">
        <div class="container-fluid">


        <%= yield %>

        </div>
      </div>
    </div>

    <% if flash[:notice].present? %>
      <script>
        <% if flash[:notice].is_a?(Array) %>
          <% flash[:notice].each do |notice| %>
            setTimeout(function(){
              demo.showNotification('top','center', "<%= notice %>")
            }, 300);
          <% end %>
        <% else %>
        setTimeout(function(){
          demo.showNotification('top','center', "<%= flash[:notice] %>")
        }, 300);
      <% end %>
      </script>
    <% end %>




  </body>










</html>
