<!DOCTYPE html>
<html>
  <head>
    <title>OMInventoryMGMT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="/" class="simple-text">
                    Medical Inventory App
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="material-icons">dashboard</i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="/surgery_appts/new">
                            <i class="material-icons">bubble_chart</i>
                            <p>New Surgery Appt</p>
                        </a>
                    </li>
                    <li>
                        <a href="/surgery_appts">
                            <i class="material-icons">person</i>
                            <p>Surgery Appts</p>
                        </a>
                    </li>
                    <li>
                        <a href="/inventories">
                            <i class="material-icons">content_paste</i>
                            <p>Inventories</p>
                        </a>
                    </li>
                    <li>
                        <a href="surgery_types">
                            <i class="material-icons">library_books</i>
                            <p>Surgery Types/Recipes</p>
                        </a>
                    </li>
                    <li>
                        <a href="/calendar/index">
                            <i class="material-icons">location_on</i>
                            <p>Calendar</p>
                        </a>
                    </li>
                    <li>
                        <a href="./notifications.html">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="">
                            <i class="material-icons">unarchive</i>
                            <p>
                              <% if current_user %>
                              Signed in as <%= current_user.name %>
                              <% else %>
                              <%= link_to "Logout", '/logout' %>
                              <% end %>
                            </p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
